* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

:root {
    --white: #FFFFFF;
    --gray: #D1D2DA;
    --grey: #9495A5;
    --color: #5B5E7E;
    --pale-dark: #494C6B;
    --dark: #393A4B;
    --circle: #E3E4F1;
    --blue: #3A7CFD;
    --text-color: #C8CBE7;
    --full-blue: #25273D;
    --body-color: #ffffff;
}

.dark {
    --white: #25273D;
    --gray: #D1D2DA;
    --grey: #767992;
    --color: #5B5E7E;
    --pale-dark: #ffffff;
    --dark: #393A4B;
    --circle: #E3E4F1;
    --blue: #3A7CFD;
    --text-color: #C8CBE7;
    --full-blue: #25273D;
    --body-color: #171823;
}


@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'),
        url('../fonts/josefin-sans-v25-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/josefin-sans-v25-latin-700.woff2') format('woff2'),
        url('../fonts/josefin-sans-v25-latin-700.woff') format('woff');
}

.container {
    width: 100%;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

li {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    transition: all .3s ease-in-out;
}

main {
    flex-grow: 1;
}


form {
    background-image: url(../image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .lg {
        padding-top: 70px;
        padding-bottom: 70px;
        background: linear-gradient(225deg, rgba(85, 150, 255, 0.603) 0%, rgba(172, 45, 235, 0.603) 100%);
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 48px;

        .title {
            margin-right: auto;
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 15px;
            color: #ffffff;
        }

        .mode {
            cursor: pointer;
        }
    }

    .form {
        position: relative;

        input {
            outline: none;
            background: var(--white);
            box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            height: 64px;
            width: 100%;
            padding: 20px 24px 20px 65px;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            color: var(--grey);
            border: none;
        }

        .circle {
            position: absolute;
            margin: 18px 24px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid var(--circle);
            transition: .3s;

            img {
                display: none;
            }

            &.checked {
                background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);

                img {
                    display: block;
                }
            }
        }
    }
}


.todo {
    margin-top: -50px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);

    .todo-list {
        li {
            padding: 20px 24px;
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid var(--circle);

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: -0.25px;
                color: var(--pale-dark);
            }

            .close {
                margin-left: auto;
                transition: .3s;
                cursor: pointer;
                display: none;
            }

            &:hover {
                .close {
                    display: block;
                }
            }

            .complete {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid;
                border-color: var(--circle);
                transition: all .3s;
                user-select: none;

                img {
                    display: none;
                }


                &:hover {
                    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
                }
            }

            &.checked {
                p {
                    text-decoration: line-through;
                    color: var(--gray);
                }

                .complete {
                    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
                    border: none;

                    img {
                        display: block;
                    }
                }
            }
        }
    }

    .todo-info {
        display: flex;
        justify-content: space-between;
        padding: 24px 16px 24px 20px;

        .sort {
            display: flex;
            gap: 19px;
        }
    }
}

.validation {
    height: 20px;
    padding: 10px;
    font-size: 25px;
    color: red;
}

.footer {
    text-align: center;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey);
}